name: build

concurrency:
  group: build-${{ github.head_ref }}
  cancel-in-progress: true

on:
  push:
    branches:
      - master
    tags:
      - "*"
  pull_request:
    branches:
      - master

jobs:
  build_ubuntu:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        go: [ '1.24.x', '1.25.x' ]
    name: Build WasmEdge-go on Ubuntu 24.04 with Go ${{ matrix.go }}
    steps:
      - uses: actions/checkout@v6
      - name: Install go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go }}
      - name: Check go version
        run: go version
      - name: Install wasmedge
        run: |
          wget -qO- https://raw.githubusercontent.com/WasmEdge/WasmEdge/master/utils/install.sh | bash -s -- -v 0.14.0
      - name: Build WasmEdge-go
        run: |
          source $HOME/.wasmedge/env
          go build ./wasmedge/

  build_macos:
    runs-on: macos-15
    strategy:
      matrix:
        go: [ '1.24.x', '1.25.x' ]
    name: Build WasmEdge-go on MacOS with Go ${{ matrix.go }}
    steps:
      - uses: actions/checkout@v6
      - name: Install go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go }}
      - name: Check go version
        run: go version
      - name: Install wasmedge
        run: |
          wget -qO- https://raw.githubusercontent.com/WasmEdge/WasmEdge/master/utils/install.sh | bash -s -- -v 0.14.0
      - name: Build WasmEdge-go
        run: |
          source $HOME/.wasmedge/env
          go build ./wasmedge/
