name: build

concurrency:
  group: build-${{ github.head_ref }}
  cancel-in-progress: true

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        go: [ '1.16.x', '1.15.x', '1.16', '1.15' ]
    name: Build WasmEdge-go with Go ${{ matrix.go }}
    steps:
      - uses: actions/checkout@v2
      - name: Install go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go }}
      - name: Check go version
        run: go version
      - name: Install wasmedge
        run: |
          wget -qO- https://raw.githubusercontent.com/WasmEdge/WasmEdge/master/utils/install.sh | sudo bash -s -- -p /usr/local -e all -v 0.9.0-rc.4
      - name: Build WasmEdge-go without any extensions
        run: |
          go build ./wasmedge/
      - name: Build WasmEdge-go with tensorflow and images extensions
        run: |
          go build -tags image,tensorflow ./wasmedge/
