name: examples

on:
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'     
        required: true
        default: 'info' 
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build_aot:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        go: [ '1.17.x', '1.16.x', '1.15.x', '1.17', '1.16', '1.15' ]
    name: Run WasmEdge-go-examples in AOT mode with Go ${{ matrix.go }}

    steps:

    - name: Install apt-get packages
      run: |
        sudo ACCEPT_EULA=Y apt-get update
        sudo ACCEPT_EULA=Y apt-get upgrade
        sudo apt-get install wget git curl software-properties-common

    - name: Setup Go
      uses: actions/setup-go@v2
      with:
        go-version: ${{ matrix.go }}
        
    - name: Check go version
      run: go version
        
    - name: Install WasmEdge
      run: |
        wget -qO- https://raw.githubusercontent.com/WasmEdge/WasmEdge/master/utils/install.sh | sudo bash -s -- -p /usr/local -e all -v 0.9.0-rc.3

    - name: Install the examples
      run: |
        git clone https://github.com/second-state/wasmedge-go-examples

    - name: go_WasmAOT
      run: |
        cd wasmedge-go-examples/go_WasmAOT
        go get -u github.com/second-state/WasmEdge-go/wasmedge@v0.9.0-rc3
        go build
        
    - name: go_ReadFile
      run: |
        cd wasmedge-go-examples/go_ReadFile
        go get -u github.com/second-state/WasmEdge-go/wasmedge@v0.9.0-rc3
        go build
        ../go_WasmAOT/wasmAOT rust_readfile.wasm rust_readfile.wasm.so
        ./read_file rust_readfile.wasm.so file.txt
        
    - name: go_ExternRef
      run: |
        cd wasmedge-go-examples/go_ExternRef
        go get -u github.com/second-state/WasmEdge-go/wasmedge@v0.9.0-rc3
        go build
        ../go_WasmAOT/wasmAOT funcs.wasm funcs.wasm.so
        ./externref funcs.wasm.so
        
    - name: go_BindgenFuncs
      run: |
        cd wasmedge-go-examples/go_BindgenFuncs
        go get -u github.com/second-state/WasmEdge-go/wasmedge@v0.9.0-rc3
        go build
        ../go_WasmAOT/wasmAOT rust_bindgen_funcs_lib_bg.wasm rust_bindgen_funcs_lib_bg.wasm.so
        ./bindgen_funcs rust_bindgen_funcs_lib_bg.wasm.so
        
    - name: go_BindgenKmeans
      run: |
        cd wasmedge-go-examples/go_BindgenKmeans
        go get -u github.com/second-state/WasmEdge-go/wasmedge@v0.9.0-rc3
        go build
        ../go_WasmAOT/wasmAOT rust_bindgen_kmeans_lib_bg.wasm rust_bindgen_kmeans_lib_bg.wasm.so
        ./bindgen_kmeans rust_bindgen_kmeans_lib_bg.wasm.so
        
    - name: go_BindgenWasi
      run: |
        cd wasmedge-go-examples/go_BindgenWasi
        go get -u github.com/second-state/WasmEdge-go/wasmedge@v0.9.0-rc3
        go build
        ../go_WasmAOT/wasmAOT rust_bindgen_wasi_lib_bg.wasm rust_bindgen_wasi_lib_bg.wasm.so
        ./bindgen_wasi rust_bindgen_wasi_lib_bg.wasm.so

    - name: go_Mobilenet
      run: |
        cd wasmedge-go-examples/go_Mobilenet
        go get -u github.com/second-state/WasmEdge-go/wasmedge@v0.9.0-rc3
        go build --tags tensorflow
        ../go_WasmAOT/wasmAOT rust_mobilenet_lib_bg.wasm rust_mobilenet_lib_bg.wasm.so
        ./mobilenet rust_mobilenet_lib_bg.wasm.so grace_hopper.jpg

    - name: go_MobilenetBirds
      run: |
        cd wasmedge-go-examples/go_MobilenetBirds
        go get -u github.com/second-state/WasmEdge-go/wasmedge@v0.9.0-rc3
        go build --tags tensorflow
        ../go_WasmAOT/wasmAOT rust_mobilenet_birds_lib_bg.wasm rust_mobilenet_birds_lib_bg.wasm.so
        ./mobilenet_birds rust_mobilenet_birds_lib_bg.wasm.so PurpleGallinule.jpg

    - name: go_MobilenetFood
      run: |
        cd wasmedge-go-examples/go_MobilenetFood
        go get -u github.com/second-state/WasmEdge-go/wasmedge@v0.9.0-rc3
        go build --tags tensorflow
        ../go_WasmAOT/wasmAOT rust_mobilenet_food_lib_bg.wasm rust_mobilenet_food_lib_bg.wasm.so
        ./mobilenet_food rust_mobilenet_food_lib_bg.wasm.so food.jpg

    - name: go_MobilenetInsects
      run: |
        cd wasmedge-go-examples/go_MobilenetInsects
        go get -u github.com/second-state/WasmEdge-go/wasmedge@v0.9.0-rc3
        go build --tags tensorflow
        ../go_WasmAOT/wasmAOT rust_mobilenet_insects_lib_bg.wasm rust_mobilenet_insects_lib_bg.wasm.so
        ./mobilenet_insects rust_mobilenet_insects_lib_bg.wasm.so ladybug.jpg

    - name: go_MobilenetPlants
      run: |
        cd wasmedge-go-examples/go_MobilenetPlants
        go get -u github.com/second-state/WasmEdge-go/wasmedge@v0.9.0-rc3
        go build --tags tensorflow
        ../go_WasmAOT/wasmAOT rust_mobilenet_plants_lib_bg.wasm rust_mobilenet_plants_lib_bg.wasm.so
        ./mobilenet_plants rust_mobilenet_plants_lib_bg.wasm.so sunflower.jpg

    - name: go_mtcnn
      run: |
        cd wasmedge-go-examples/go_mtcnn
        go get -u github.com/second-state/WasmEdge-go/wasmedge@v0.9.0-rc3
        go build --tags image,tensorflow
        ../go_WasmAOT/wasmAOT rust_mtcnn.wasm rust_mtcnn.wasm.so
        ./mtcnn rust_mtcnn.wasm.so mtcnn.pb solvay.jpg out.jpg

  build_interpreter:
    runs-on: ubuntu-20.04
    needs: build_aot
    
    strategy:
      matrix:
        go: [ '1.17.x', '1.16.x', '1.15.x', '1.17', '1.16', '1.15' ]
    name: Run WasmEdge-go-examples in interpreter mode with Go ${{ matrix.go }}

    steps:

    - name: Install apt-get packages
      run: |
        sudo ACCEPT_EULA=Y apt-get update
        sudo ACCEPT_EULA=Y apt-get upgrade
        sudo apt-get install wget git curl software-properties-common

    - name: Setup Go
      uses: actions/setup-go@v2
      with:
        go-version: ${{ matrix.go }}
        
    - name: Check go version
      run: go version
        
    - name: Install WasmEdge
      run: |
        wget -qO- https://raw.githubusercontent.com/WasmEdge/WasmEdge/master/utils/install.sh | sudo bash -s -- -p /usr/local -e all -v 0.9.0-rc.3

    - name: Install the examples
      run: |
        git clone https://github.com/second-state/wasmedge-go-examples

    - name: go_PrintFibonacci
      run: |
        cd wasmedge-go-examples/go_PrintFibonacci
        go get -u github.com/second-state/WasmEdge-go/wasmedge@v0.9.0-rc3
        go build
        ./print_fibonacci

    - name: go_WasmAOT
      run: |
        cd wasmedge-go-examples/go_WasmAOT
        go get -u github.com/second-state/WasmEdge-go/wasmedge@v0.9.0-rc3
        go build
        ./wasmAOT fibonacci.wasm fibonacci.wasm.so
        
    - name: go_ReadFile
      run: |
        cd wasmedge-go-examples/go_ReadFile
        go get -u github.com/second-state/WasmEdge-go/wasmedge@v0.9.0-rc3
        go build
        ./read_file rust_readfile.wasm file.txt
        
    - name: go_ExternRef
      run: |
        cd wasmedge-go-examples/go_ExternRef
        go get -u github.com/second-state/WasmEdge-go/wasmedge@v0.9.0-rc3
        go build
        ./externref funcs.wasm
        
    - name: go_BindgenFuncs
      run: |
        cd wasmedge-go-examples/go_BindgenFuncs
        go get -u github.com/second-state/WasmEdge-go/wasmedge@v0.9.0-rc3
        go build
        ./bindgen_funcs rust_bindgen_funcs_lib_bg.wasm
        
    - name: go_BindgenKmeans
      run: |
        cd wasmedge-go-examples/go_BindgenKmeans
        go get -u github.com/second-state/WasmEdge-go/wasmedge@v0.9.0-rc3
        go build
        ./bindgen_kmeans rust_bindgen_kmeans_lib_bg.wasm
        
    - name: go_BindgenWasi
      run: |
        cd wasmedge-go-examples/go_BindgenWasi
        go get -u github.com/second-state/WasmEdge-go/wasmedge@v0.9.0-rc3
        go build
        ./bindgen_wasi rust_bindgen_wasi_lib_bg.wasm

    - name: go_Mobilenet
      run: |
        cd wasmedge-go-examples/go_Mobilenet
        go get -u github.com/second-state/WasmEdge-go/wasmedge@v0.9.0-rc3
        go build --tags tensorflow
        ./mobilenet rust_mobilenet_lib_bg.wasm grace_hopper.jpg

    - name: go_MobilenetBirds
      run: |
        cd wasmedge-go-examples/go_MobilenetBirds
        go get -u github.com/second-state/WasmEdge-go/wasmedge@v0.9.0-rc3
        go build --tags tensorflow
        ./mobilenet_birds rust_mobilenet_birds_lib_bg.wasm PurpleGallinule.jpg

    - name: go_MobilenetFood
      run: |
        cd wasmedge-go-examples/go_MobilenetFood
        go get -u github.com/second-state/WasmEdge-go/wasmedge@v0.9.0-rc3
        go build --tags tensorflow
        ./mobilenet_food rust_mobilenet_food_lib_bg.wasm food.jpg

    - name: go_MobilenetInsects
      run: |
        cd wasmedge-go-examples/go_MobilenetInsects
        go get -u github.com/second-state/WasmEdge-go/wasmedge@v0.9.0-rc3
        go build --tags tensorflow
        ./mobilenet_insects rust_mobilenet_insects_lib_bg.wasm ladybug.jpg

    - name: go_MobilenetPlants
      run: |
        cd wasmedge-go-examples/go_MobilenetPlants
        go get -u github.com/second-state/WasmEdge-go/wasmedge@v0.9.0-rc3
        go build --tags tensorflow
        ./mobilenet_plants rust_mobilenet_plants_lib_bg.wasm sunflower.jpg

    - name: go_mtcnn
      run: |
        cd wasmedge-go-examples/go_mtcnn
        go get -u github.com/second-state/WasmEdge-go/wasmedge@v0.9.0-rc3
        go build --tags image,tensorflow
        ./mtcnn rust_mtcnn.wasm mtcnn.pb solvay.jpg out.jpg
